body {
    font-family: 'Mona Sans', sans-serif;
    background-color: #D9D9D9;
    color: black;
    padding: 0;
    margin: 0;
    letter-spacing: 0.09px;
    font-stretch: ultra-expanded;
}

.head-menu {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    padding: 15px;
    z-index: 1000;
    top: 0;
    left: 0;
}

body {
    padding-top: 90px; /* Adjust this based on the height of your top-menu */
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cart-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1em;
}

.cart-button img {
    width: 35px;
    height: auto;
}

.table-number {
    font-weight: bold;
    margin-left: 1em;
    margin-bottom: 2em;
}

.table-number-colour {
    color: #944E63;
}

.table-number h1 {
    margin-bottom: 0;
}

.table-number a {
    display: block;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: flex-start;
    gap: 1em;
    scrollbar-width: none; 
}

.card-container::-webkit-scrollbar {
    display: none; 
}


.card {
    flex: 0 0 auto;
    }

.card button {
    padding: 0.5em 1em;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 0.5em;
    font-size: 1    em;
    cursor: pointer;
    transition: background-color 0.3s;
}


.menu-box {
    margin-top: 1em;
    padding: 1em;
    background-color: white;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    border-radius: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.img-and-name {
    display: flex;
}

.name-and-price {
    margin-top: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.dish-image {
    width: 40%;
    height: auto;
    border-radius: 0.5em;
}

.add-to-cart {
    background: none;
    border: none;
}

.display-menu {
    margin-top: 90px; /* Ensure this matches the height of your top-menu */
}

@media (max-width: 768px) {
    .table-number h1 {
        font-size: 1.5em;
    }

    .menu-box {
        flex-direction: column;
        align-items: center;
    }

    .dish-image {
        width: 70%;
    }
}
