body {
    font-family: 'Mona Sans', sans-serif;
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
    letter-spacing: 0.09px;
    font-stretch: ultra-expanded;
    font-size: 1em;
}

.top-fixed {
    position: fixed;
    width: 100%;
    z-index: 1000; 
    top: 0;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    position: relative;
}

.back-button {
    position: absolute;
    left: 0;
}

.shopping-cart-header {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.7em;
}

.back-button button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.back-button img {
    width: 2em;
    height: auto;
}

@media (max-width: 258px) {
    .back-button img {
        width: 1em;
        height: auto;
    }
}


/* BOTTOM PART (PRICE AND CHECKOUT) */
.bottom-fixed {
    position: fixed;
    bottom: 1em;
    width: 100%;
    z-index: 1000000;
    background-color: white;
}

.jumlah-harga {
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

.checkout-button {
    display: flex;
    justify-content: center;
}

.checkout {
    background-color: #944E63;
    border: none;
    color: white;
    width: 90%;
    height: 3em;
    font-size: 1em;
    border-radius: 2em;
}


/********************* SHOPPING CART ************************/
.empty-cart-message {
    margin-left: 20px;
    margin-top: 150px;
}

.empty-cart-message h2{
    font-size: 10pt;
}

.cart-container {
    margin-top: 150px; /* Adjust this value based on the height of your fixed header */
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


.cart-item {
    margin-top: 20px;
    border: 1px solid #ddd;
    margin: 20px 0;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out; /* For smooth swipe effect */
}


.dish-name-cart-display {
    text-wrap: wrap;
    max-width: 100px;
    margin-right: 10px;
    font-size: 15pt;
    overflow: hidden;
    max-height: 70px;
    text-overflow: ellipsis;
}

.dish-price-cart-display {
    text-wrap: wrap;
    max-width: 100px;
    margin-right: 10px;
}

.cart-item-image {
    max-width: 85px;
    max-height: 85px;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 5px;
    align-items: stretch;
    border-radius: 10px;
}

.cart-item.swiped-left {
    transform: translateX(-100%); /* Swipe the cart item off screen */
}

.cart-item .trash-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 24px;
    color: #e74c3c;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.cart-item.swiped-left .trash-icon {
    opacity: 1;
}

.cart-item.swiped-left .remove-btn {
    display: none; /* Hide the remove button when swiped */
}


