.menu-table {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.menu-table th, .menu-table td {
    text-align: center;
    vertical-align: middle;
}

.menu-table th {
    width: 25%;
    background-color: rgb(50, 50, 50);
}

.menu-table td {
    background-color: rgb(63, 63, 63);

    width: 25%;
    word-wrap: break-word;
}

.menu-table td img {
    max-width: 150px;
    height: auto;
    object-fit: contain;
}

.edit-menu,
.delete-menu {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.edit-menu {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
}

.edit-menu:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: scale(1.05); /* Slight zoom on hover */
}

/* Delete Button Styling */
.delete-menu {
    background-color: #f86e64; /* Red background */
    color: white; /* White text */
}

.delete-menu:hover {
    background-color: #d32f2f; /* Darker red on hover */
    transform: scale(1.05); /* Slight zoom on hover */
}
